<% @title = "ログイン" %>
  <div id="login-form">
    <h1><%= @title %></h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= button_tag type: "submit", class:"btn cover-3d" do %>
          <span>Log in</span>
        <% end %>
        <div class="others">
          <%= link_to "新規登録はこちらから", new_user_registration_path, class: "link_tag"%>
          <%= render "users/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>