<% visiter = notification.visiter %>
<% visited = notification.visited %>
    <% if notification.checked == false %>
        <div class = "notification-index">
                    <%= link_to user_path(visiter), class:"link_tag" do %>
                        <%= visiter.username %>さんが
                    <% end %>

            <% case notification.action %>
                        <% when 'dm' then %>
                        <ul> 
                            <li>
                                あなたにDMを送りました
                            </li>
                            <li>
                                <%= button_to notification_path(notification.id),method: :put, class: "notification-btn" do %>
                                    <i class="far fa-check-circle"></i>
                            </li>
                        </ul>
                            <% end %>
                            <div class="small-text-muted text-right">
                            <%= time_ago_in_words(notification.created_at).upcase %>前
                            </div>

                        <% when 'like' then %>
                            <ul>
                                <li>
                                    あなたのMissionにいいねしました
                                </li>
                                <li>
                                    <%= button_to notification_path(notification.id),method: :put, class: "notification-btn" do %>
                                        <i class="far fa-check-circle"></i>
                                </li>
                            </ul>
                                    <% end %>
                                    <div class="small-text-muted text-right">
                                    <%= time_ago_in_words(notification.created_at).upcase %>前
                                    </div>

                        <% when 'comment' then %>
                        <% if notification.mission.user_id == visited.id %>
                        <ul>
                            <li>
                                あなたのMissionにコメントしました
                            </li>
                            <li>
                                <%= button_to notification_path(notification.id),method: :put, class: "notification-btn" do %>
                                    <i class="far fa-check-circle"></i>
                            </li>
                        </ul>
                            <% end %>
                            <div class="small-text-muted text-right">
                            <%= time_ago_in_words(notification.created_at).upcase %>前
                            </div>
                        <% end %>

                        <% when 'follow' then %>
                        <ul>
                            <li>
                                あなたをフォローしました
                            </li>
                            <li>
                                <%= button_to notification_path(notification.id),method: :put, class: "notification-btn" do %>
                                    <i class="far fa-check-circle"></i>
                            </li>
                        </ul>
                                <% end %>
                                <div class="small-text-muted text-right">
                                <%= time_ago_in_words(notification.created_at).upcase %>前
                                </div>
                        <% end %>

                        
                    
        </div>  

    <% end %>                
                
                
                    
