<div class="like">
                <% if current_user.already_liked?(@mission) %>
                  <div class="like-delete">
                    <ul>
                      <li>
                      いいね<%= @mission.likes.count %>
                      </li>

                        <li>
                            <%= button_to mission_like_path(@mission), method: :delete, class:"unlike-btn", remote: true do %>
                              <i class="fas fa-heart unlike-btn"></i>
                            <% end %>
                        </li>
                    </ul>
                  </div>
                <% end %>


                <% unless current_user.already_liked?(@mission) %>
                  <div class="like-create">
                    <ul>
                        <li>
                        いいね<%= @mission.likes.count %>
                        </li>
                        <li>
                          <%= button_to  mission_likes_path(@mission), class:"far fa-heart like-btn" , remote: true do %>
                          <% end %>
                        </li>
                    </ul>
                  </div>
                <% end %>


                <% unless @mission.likes.count == 0 %>
                  <div class="hidden_box">
                      <label for="label1">いいねしたユーザー</label>
                      <input type="checkbox" id="label1"/>
                      <div class="hidden_show">
                          <% @mission.liked_users.each do |user| %>
                            <%= user.username %>
                          <% end %>
                      </div>
                  </div>
                <% end %>
              
              
                <div class="notice">
                  <p class="notice  text-center"><%= params[:notice] %></p>
                  <p class="alert text-center"><%= params[:alert] %></p>
                </div>
</div>