      <div class="mission-detail">
        <div class="mission">
              執行者 <%= @mission.user.username %>
                      <%= link_to "ユーザー詳細", user_path(@user.id), class: "fas fa-info-circle link_tag" %>
                  <% if @mission.deadline >= Time.now && current_user.id == @mission.user_id %>
                    <%= link_to "Mission内容を変更する", edit_mission_path, class: "link_tag fas fa-edit" %>
                  <% end %>
                <p><%= @mission.content %></p>
                <p>開始日 <%= @mission.created_at.strftime("%Y-%m-%d %H:%M") %></p>
                <div class = "penalty">
                  <% if @mission.deadline >= Time.now %>
                    罰ゲーム <%= @mission.penalty %>
                    <% else %>
                    <h4 id="penalty-content">罰ゲーム <%= @mission.penalty %> </h4>
                  <% end %>
                </div>
              <% if @mission.completed == 0 %>
                  <p>期限 <%= @mission.deadline.strftime("%Y-%m-%d %H:%M") %>
                    <br>
                      <input type="hidden" id="userYear" value = "<%= @mission.deadline.year %>"  >
                      <input type="hidden" id="userMonth"value = "<%= @mission.deadline.month %>" >
                      <input type="hidden" id="userDate" value = "<%= @mission.deadline.day %>" >
                      <input type="hidden" id="userHour" value = "<%= @mission.deadline.hour %>" >
                      <input type="hidden" id="userMin"  value = "<%= @mission.deadline.min %>" >
                      <input type="hidden" id="userSec"  value = "<%= @mission.deadline.sec %>" >
                  </p>
                  <p id="RealtimeCountdownArea"></p>
                <% else %>
                    <p class="mission-clear">
                      Missionクリア！
                    </p>
              <% end %>

              <div class="like">
                <% if current_user.already_liked?(@mission) %>
                  <div class="like-delete">
                    <ul>
                      <li>
                      いいね<%= @mission.likes.count %>
                      </li>
                        <li>
                            <%= button_to mission_like_path(@mission), method: :delete, class:"unlike-btn" do %>
                              <i class="fas fa-heart unlike-btn"></i>   
                            <% end %>
                        </li>
                    </ul>
                  </div>
                <% end %>


                <% unless current_user.already_liked?(@mission) %>
                  <div class="like-create">
                    <ul>
                        <li>
                        いいね<%= @mission.likes.count %>
                        </li>
                        <li>
                          <%= button_to  mission_likes_path(@mission), class:"far fa-heart like-btn"  do %>
                          <% end %>
                        </li>
                    </ul>
                  </div>
                <% end %>


                <% unless @mission.likes.count == 0 %>
                  <div class="hidden_box">
                      <label for="label1">いいねしたユーザー</label>
                      <input type="checkbox" id="label1"/>
                      <div class="hidden_show">
                          <% @mission.liked_users.each do |user| %>
                            <%= user.username %>
                          <% end %>
                      </div>
                  </div>
                <% end %>
              
              
                <div class="notice">
                  <p class="notice  text-center"><%= params[:notice] %></p>
                  <p class="alert text-center"><%= params[:alert] %></p>
                </div>
              </div>

        </div>
      </div>
            <div class="comment-wrapper">
                <h3>コメント数: <%= @mission.comments.count %></h3>
                  <% unless @mission.comments.count == 0 %>
                    <p>コメント一覧</p>
                  <% end %>
                <br>
                <% @comments.each do |c| %>
                  <%= c.user.username unless c.user.blank? %>
                  <%= c.comment %>
                    <%= link_to mission_comment_path(c.mission.id, c.id), method: :delete,data: { confirm: '削除してもいいですか？' } ,class:"trash-btn fa fa-trash" do %>
                    <% end %>
                    <br>
                  <% end %>
                  
                <% if user_signed_in? %>
                  <%= form_with(model: [@mission, @comment], local: true) do |f| %>
                    <%= f.text_field :comment, class:"comment-form" %>
                    <%= button_tag type: "submit", class: "btn comment-create far fa-comment" do %> 
                    <% end %>
                  <% end %>
                <% end %>     
            </div>
      

<script>

{ 
  function set2fig(num) {
     // 数値が1桁だったら2桁の文字列にして返す
     var ret;
     if( num < 10 ) { ret = "0" + num; }
     else { ret = num; }
     return ret;
  }
  function isNumOrZero(num) {
     // 数値でなかったら0にして返す
     if( isNaN(num) ) { return 0; }
     return num;
}
  function showCountdown() {
     // 現在日時を数値(1970-01-01 00:00:00からのミリ秒)に変換
     var nowDate = new Date();
     var dnumNow = nowDate.getTime();
   
     // 指定日時を数値(1970-01-01 00:00:00からのミリ秒)に変換
     var inputYear  = document.getElementById("userYear").value;
     var inputMonth = document.getElementById("userMonth").value - 1;
     var inputDate  = document.getElementById("userDate").value;
     var inputHour  = document.getElementById("userHour").value;
     var inputMin   = document.getElementById("userMin").value;
     var inputSec   = document.getElementById("userSec").value;
     var targetDate = new Date( isNumOrZero(inputYear), isNumOrZero(inputMonth), isNumOrZero(inputDate), isNumOrZero(inputHour), isNumOrZero(inputMin), isNumOrZero(inputSec) );
     var dnumTarget = targetDate.getTime();
   
     // 表示を準備
     var dlYear  = targetDate.getFullYear();
     var dlMonth = targetDate.getMonth() + 1;
     var dlDate  = targetDate.getDate();
     var dlHour  = targetDate.getHours();
     var dlMin   = targetDate.getMinutes();
     var dlSec   = targetDate.getSeconds();
     var msg1 = "期限の" + dlYear + "/" + dlMonth + "/" + dlDate + " " + set2fig(dlHour) + ":" + set2fig(dlMin) + ":" + set2fig(dlSec);
   
     // 引き算して日数(ミリ秒)の差を計算
     var diff2Dates = dnumTarget - dnumNow;
     if( dnumTarget < dnumNow ) {
        // 期限が過ぎた場合は -1 を掛けて正の値に変換
        diff2Dates *= -1;
     }
   
     // 差のミリ秒を、日数・時間・分・秒に分割
     var dDays  = diff2Dates / ( 1000 * 60 * 60 * 24 );   // 日数
     diff2Dates = diff2Dates % ( 1000 * 60 * 60 * 24 );
     var dHour  = diff2Dates / ( 1000 * 60 * 60 );   // 時間
     diff2Dates = diff2Dates % ( 1000 * 60 * 60 );
     var dMin   = diff2Dates / ( 1000 * 60 );   // 分
     diff2Dates = diff2Dates % ( 1000 * 60 );
     var dSec   = diff2Dates / 1000;   // 秒
     var msg2 = Math.floor(dDays) + "日"
              + Math.floor(dHour) + "時間"
              + Math.floor(dMin) + "分"
              + Math.floor(dSec) + "秒";
   
     // 表示文字列の作成
     var msg;
     if( dnumTarget > dnumNow ) {
        // まだ期限が来ていない場合
        msg =  "Mission終了まで、あと" + msg2 ;
     }
     else {
        // 期限が過ぎた場合
        msg = "Mission失敗";
     }
   
     // 作成した文字列を表示
     document.getElementById("RealtimeCountdownArea").innerHTML = msg;
     document.getElementById("deadline.id")=  targetDate;

}
  // 1秒ごとに実行
  setInterval('showCountdown()',1000);

}

</script>


