<!DOCTYPE html>
<html>
  <head>
      <title>TMmanager</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
      <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
      <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
      <script src="https://polyfill.io/v2/polyfill.min.js? features=IntersectionObserver"></script>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', media: 'all','data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'pace', media: 'all','data-turbolinks-track': 'reload' %>
      <%= yield :css %>
  </head>

  <body>
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: key) %>
        <% end %>
      <div id="global-container">
          <div id="container">
            <div class="header-menu__cover"></div>
              <header class ="header">
                <%= render 'layouts/header' %>
              </header>

                    <main>
                      <%= yield %>
                    </main>
            <% if user_signed_in? %>
              <footer class="footer">
                <%= render 'layouts/footer' %>
              </footer>
            <% end %>
        
            
          </div>
                  <nav class ="header-menu">
                    <%= render 'layouts/header-menu' %>
                  </nav>
              
      </div>
  </body>

  <script>
  {

    class HeaderMenu {
          constructor() {
              this.DOM = {};
              this.DOM.btn = document.querySelector('.header-menu__btn');
              this.DOM.cover = document.querySelector('.header-menu__cover');
              this.DOM.container = document.querySelector('#global-container');
              this.eventType = this._getEventType();
              this._addEvent();
          }

          _getEventType() {
              return window.ontouchstart ? 'touchstart' : 'click';
          }

          _toggle() {
              this.DOM.container.classList.toggle('menu-open');
          }

          _addEvent() {
              this.DOM.btn.addEventListener(this.eventType, this._toggle.bind(this));
              this.DOM.cover.addEventListener(this.eventType, this._toggle.bind(this));
          }
    } 
      new HeaderMenu();
  }

  </script>

</html>
    