<h2>マイページ編集</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="generic-form">
      <%= render "users/shared/error_messages", resource: resource %>
      <%= render "form", f: f %>
      <div class="actions">
        <%= button_tag type: "submit" , class:"btn cover-3d" do %>
          <span>更新</span>
        <% end %>
        <%= link_to "キャンセル",user_path(current_user) ,class:"btn" %>
      </div>
    <% end %>
  </div>
  <%= button_to registration_path(resource_name), data: { confirm: "本当に退会してもいいですか？" },class:"btn retire" ,method: :delete do %>
    <span>退会する</span>
  <% end %>
